services:
  android:
    image: budtmo/docker-android:emulator_14.0
    container_name: bua-android-tablet
    privileged: true
    environment:
      EMULATOR_DEVICE: "Nexus 10"
      WEB_VNC: "true"
      WEB_LOG: "true"
      SCREEN_WIDTH: "1000"
      SCREEN_HEIGHT: "1000"
      SCREEN_DEPTH: "24"
      SCREEN_DPI: "160"
      DATAPARTITION: "4096"
      RELAXED_SECURITY: "true"
    devices:
      - /dev/kvm
    ports:
      - "6080:6080"
      - "5900:5900"
      - "5554:5554"
      - "5555:5555"
    volumes:
      - android-data:/root/android-data
    stop_grace_period: 2m
    restart: unless-stopped

volumes:
  android-data:
