services:
  android:
    image: budtmo/docker-android:emulator_14.0
    container_name: bua-android-tablet
    privileged: true
    group_add:
      - "993"
    environment:
      EMULATOR_DEVICE: "Nexus 5"
      EMULATOR_NO_SKIN: "true"
      EMULATOR_ADDITIONAL_ARGS: "-no-boot-anim -no-audio -no-window -skin 1000x1000"
      WEB_VNC: "false"
      WEB_LOG: "true"
      SCREEN_WIDTH: "1000"
      SCREEN_HEIGHT: "1000"
      SCREEN_DEPTH: "24"
      SCREEN_DPI: "280"
      DATAPARTITION: "4096"
      RELAXED_SECURITY: "true"
    devices:
      - /dev/kvm
    ports:
      - "5554:5554"
      - "5555:5555"
    volumes:
      - android-data:/root/android-data
    stop_grace_period: 2m
    restart: unless-stopped

volumes:
  android-data:
